.contactItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #4a90e2; /* Рамка */
    border-radius: 8px; /* Закруглення */
    padding: 10px 15px; /* Внутрішні відступи */
    margin-bottom: 10px; /* Відступ між контактами */
    background-color: #f9f9f9; /* Фон */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    flex-basis: calc((100% - 24px* 2) / 3);
    }

.contactInfo{
  display: flex;
  flex-direction: column;
}
.deleteBtn{
background-color: #4a90e2;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s
}

.deleteBtn:hover,
.deleteBtn:active,
.deleteBtn:focus{
    background-color:rgb(34, 103, 241);
}
 
 
