.container{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 4px grey ;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}